<!DOCTYPE html>
<head>   
    <!-- 控制網頁縮放 -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8" />
    <title>台北一日遊</title>
    <link rel="stylesheet" type="text/css" type="text/css" href="{{ url_for('static', filename='css/booking.css') }}" >
    <!-- <link rel="stylesheet" type="text/css" type="text/css" href="./booking.css" >    -->
</head>
<body>
    <div class="navigation-bar-frame" id="navigation-bar-frame">
        <div class="navigation-bar">
            <div class="left">台北一日遊</div>
            <div class="right">
                <div class="item">預定行程</div>
                <div class="item" id="signout"onclick="signout()">登出系統</div>
            </div>
        </div>
    </div>
    <div class="booking-attraction"></div>
    <div class="Booking-box">
        <div class="attraction-box">
            <div class="attraction-pic">
                <img class="attraction-img">
            </div>
            <div class="attraction-info">
                <div class="attraction-name-title">台北一日遊：
                    <div class="attraction-name"></div>
                </div>
                <div class="attraction-date-title">日期：
                    <div class="attraction-date"></div>
                </div>
                <div class="attraction-time-title">時間：
                    <div class="attraction-time"></div>
                </div>
                <div class="attraction-fee-title">費用：
                    <div class="attraction-fee"></div>
                </div>
                <div class="attraction-address-title">地點：
                    <div class="attraction-address"></div>
                </div>
            </div>
            <div class="attraction-delete" onclick="deleteattraction()">
                <img src="../static/pic/icon/icon_delete.png">
            </div>    
        </div>
        <hr class="hr1">
        <div class="booking-contactbox">
            <div class="contact-info">您的聯絡資訊</div>
            <div class="contact-name">聯絡姓名：
                <input class="contact-name-input" type="text">
            </div>
            <div class="contact-email">連絡信箱：
                <input class="contact-email-input" type="email">
            </div>
            <div class="contact-phone">手機號碼：
                <input class="contact-phone-input" type="text">
            </div>
            <div class="contact-attention">請保持手機暢通，準時到達，導覽人員將用手機與您聯繫，務必留下正確的聯絡方式。</div>
        </div>
        <hr class="hr2">
        <div class="booking-paymentbox">
            <div class="card-info">信用卡付款資訊</div>
            <div class="card-number">卡片號碼：
                <input class="card-number-input" type="password">
            </div>
            <div class="card-expirationdate">過期時間：
                <input class="card-expirationdate-input" type="month" value="MM/YY">
            </div>
            <div class="card-code">驗證密碼：
                <input class="card-code-input" type="text" placeholder="CVV">
            </div>
        </div>
        <hr class="hr3">
        <div class="booking-confirmbox">
            <div class="booking-total"></div>
            <button class="booking-confirm-order" type="submit">確認訂購並付款</button>
        </div>
    </div>
    <div class="no-booking-data"></div>
    <div class="footer"id="footer">COPYRIGHT © 2021 台北一日遊</div>
<script type="text/javascript" src="../static/js/booking.js"></script>
</body> 
</html>
