<!DOCTYPE html>
<head>
    
    <!-- 控制網頁縮放 -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8" />
    <title>台北一日遊</title>
    <link rel="stylesheet" type="text/css" type="text/css" href="{{ url_for('static', filename='css/index.css') }}" >
    <!-- <link rel="stylesheet" type="text/css" type="text/css" href="./index.css" >    -->
</head>
<body id="body">
    <div class="navigation-bar-frame" id="navigation-bar-frame">
        <div class="navigation-bar">
            <div class="left">台北一日遊</div>
            <div class="right">
                <div class="item" id="my-booking">預定行程</div>
                <div class="item" id="signin-signup"onclick="signinsignup()">登入/註冊</div>
            </div>
        </div>
    </div>
    <div class="welcome-session">
        <div class="signin" id="signin">
            <div class="signin-bar"></div>
            <div class="signin-box">
                <div class="signin-title">登入會員帳號
                    <img src="../static/pic/icon/icon_close.png" class="signin-close">
                </div>
                <form name="signin_form" >
                    <input class="signin-input" type="email" placeholder="輸入電子信箱" name="signin_email"/>
                    <input class="signin-input" type="password" placeholder="輸入密碼" name="signin_password"/>                                                       
                </form>
                <button class="signin-btn" name="signin_btn" onclick="signinsubmit()">登入帳戶</button>
                <div class="signin-message" id="signin-message"></div>
                <div class="goto-signup">還沒有帳戶?點此註冊</div>
            </div>
        </div>
        <div class="signup">
            <div class="signup-bar"></div>
            <div class="signup-box">
                <div class="signup-title">註冊會員帳號
                    <img src="../static/pic/icon/icon_close.png" class="signup-close">
                </div>
                <form name="signup_form">
                    <input class="signup-input" type="text" placeholder="輸入姓名" name="signup_name"/>
                    <input class="signup-input" type="email" placeholder="輸入電子郵件" name="signup_email"/>
                    <input class="signup-input" type="password" placeholder="輸入密碼" name="signup_password"/>                                                       
                </form>
                    <button class="signup-btn" name="signup_btn" onclick="signupsubmit()">註冊新帳戶</button>
                <div class="signup-message" id="signup-message"></div>
                <div class="goto-signin">已經有帳戶了？點此登入</div>
            </div>
        </div>
        <div class="welcome-img" id="welcome-img">
            <div class="welcome-box">
                <div class="largetext">輕鬆享受台北一日悠閒</div>
                <div class="smalltext">探索每個角落，體驗城市的深度旅遊行程</div>
                <div class="search-bar">
                    <div class="search-text">
                        <input type="text" id="keyword" placeholder="輸入景點名稱查詢" >
                        <button class="searchbar-icon-img" id="searchbar-icon-img" onclick="searchbar()"></button>            
                    </div>
                </div>  
                <div class="categoryMenu"></div>  
            </div> 
        </div>      
    </div>

    <div id="Attractions" class="Attractions">
        <a class="Attraction-link" href="">
        <div class="Attraction">
            <div class="Attraction-imgbox">
                <img class= "Attraction-pic" src=" ">
                <div class="Attraction-namebox">
                    <div class="Attraction-name"></div>
                </div>
            </div>
            <div class="Attraction-detail">
                <div class="Attraction-mrt"></div>
                <div class="Attraction-cat"></div>
            </div>   
        </div>
        </a>
        <a class="Attraction-link" href="">
            <div class="Attraction">
                <div class="Attraction-imgbox">
                    <img class= "Attraction-pic" src=" ">
                    <div class="Attraction-namebox">
                        <div class="Attraction-name"></div>
                    </div>
                </div>
                <div class="Attraction-detail">
                    <div class="Attraction-mrt"></div>
                    <div class="Attraction-cat"></div>
                </div> 
            </div>
        </a>
        <a class="Attraction-link" href="">
            <div class="Attraction">
                <div class="Attraction-imgbox">
                    <img class= "Attraction-pic" src=" ">
                    <div class="Attraction-namebox">
                        <div class="Attraction-name"></div>
                    </div>
                </div>
                <div class="Attraction-detail">
                    <div class="Attraction-mrt"></div>
                    <div class="Attraction-cat"></div>
                </div>
            </div>
        </a>
        <a class="Attraction-link" href="">
            <div class="Attraction">
                <div class="Attraction-imgbox">
                    <img class= "Attraction-pic" src=" ">
                    <div class="Attraction-namebox">
                        <div class="Attraction-name"></div>
                    </div>
                </div>
                <div class="Attraction-detail">
                    <div class="Attraction-mrt"></div>
                    <div class="Attraction-cat"></div>
                </div>
            </div>
        </a>
        <a class="Attraction-link" href="">
            <div class="Attraction">
                <div class="Attraction-imgbox">
                    <img class= "Attraction-pic" src=" ">
                    <div class="Attraction-namebox">
                        <div class="Attraction-name"></div>
                    </div>
                </div>
                <div class="Attraction-detail">
                    <div class="Attraction-mrt"></div>
                    <div class="Attraction-cat"></div>
                </div>
            </div>
        </a>
        <a class="Attraction-link" href="">
            <div class="Attraction">
                <div class="Attraction-imgbox">
                    <img class= "Attraction-pic" src=" ">
                    <div class="Attraction-namebox">
                        <div class="Attraction-name"></div>
                    </div>
                </div>
                <div class="Attraction-detail">
                    <div class="Attraction-mrt"></div>
                    <div class="Attraction-cat"></div>
                </div>
            </div>
        </a>
        <a class="Attraction-link" href="">
            <div class="Attraction">
                <div class="Attraction-imgbox">
                    <img class= "Attraction-pic" src=" ">
                    <div class="Attraction-namebox">
                        <div class="Attraction-name"></div>
                    </div>
                </div>
                <div class="Attraction-detail">
                    <div class="Attraction-mrt"></div>
                    <div class="Attraction-cat"></div>
                </div>
            </div>
        </a>
        <a class="Attraction-link" href="">
            <div class="Attraction">
                <div class="Attraction-imgbox">
                    <img class= "Attraction-pic" src=" ">
                    <div class="Attraction-namebox">
                        <div class="Attraction-name"></div>
                    </div>
                </div>
                <div class="Attraction-detail">
                    <div class="Attraction-mrt"></div>
                    <div class="Attraction-cat"></div>
                </div>
            </div>
        </a>
        <a class="Attraction-link" href=""> 
            <div class="Attraction">
                <div class="Attraction-imgbox">
                    <img class= "Attraction-pic" src=" ">
                    <div class="Attraction-namebox">
                        <div class="Attraction-name"></div>
                    </div>
                </div>
                <div class="Attraction-detail">
                    <div class="Attraction-mrt"></div>
                    <div class="Attraction-cat"></div>
                </div>
            </div>
        </a>
        <a class="Attraction-link" href="">
            <div class="Attraction">
                <div class="Attraction-imgbox">
                    <img class= "Attraction-pic" src=" ">
                    <div class="Attraction-namebox">
                        <div class="Attraction-name"></div>
                    </div>
                </div>
                <div class="Attraction-detail">
                    <div class="Attraction-mrt"></div>
                    <div class="Attraction-cat"></div>
                </div>
            </div>
        </a>
        <a class="Attraction-link" href="">
            <div class="Attraction">
                <div class="Attraction-imgbox">
                    <img class= "Attraction-pic" src=" ">
                    <div class="Attraction-namebox">
                        <div class="Attraction-name"></div>
                    </div>
                </div>
                <div class="Attraction-detail">
                    <div class="Attraction-mrt"></div>
                    <div class="Attraction-cat"></div>
                </div>
            </div>
        </a>
        <a class="Attraction-link" href="">
            <div class="Attraction">
                <div class="Attraction-imgbox">
                    <img class= "Attraction-pic" src=" ">
                    <div class="Attraction-namebox">
                        <div class="Attraction-name"></div>
                    </div>
                </div>
                <div class="Attraction-detail">
                    <div class="Attraction-mrt"></div>
                    <div class="Attraction-cat"></div>
                </div> 
            </div>
        </a>  
    </div>
    

    <div class="footer" id="footer">COPYRIGHT © 2021 台北一日遊</div>   
<script type="text/javascript" src="../static/js/index.js"></script>
<script type="text/javascript" src="../static/js/indexuser.js"></script>
<script type="text/javascript" src="../static/js/mybookingbar.js"></script>
</body>
</html>
