<!DOCTYPE html>
<head>   
    <!-- 控制網頁縮放 -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8" />
    <title>台北一日遊</title>
    <link rel="stylesheet" type="text/css" type="text/css" href="{{ url_for('static', filename='css/thankyou.css') }}" >
    <!-- <link rel="stylesheet" type="text/css" type="text/css" href="./thankyou.css" >    -->
</head>
<body>
    <div class="navigation-bar-frame" id="navigation-bar-frame">
        <div class="navigation-bar">
            <a href="/">
            <div class="left">台北一日遊</div>
            </a>
            <div class="right">
                <div class="item" id="my-booking">預定行程</div>
                <div class="item" id="signout"onclick="signout()">登出系統</div>
            </div>
        </div>
    </div>
    <div class="order_title"></div>
    <div class="order_id"></div>
    <div class="thanks">
        <img src="../static/pic/thankspic/thanks.gif">
    </div>
    <div class="footer"id="footer">COPYRIGHT © 2021 台北一日遊</div>
<script type="text/javascript" src="../static/js/mybookingbar.js"></script>
<script type="text/javascript" src="../static/js/thankyou.js"></script>
</body> 
</html>